body{
    background-color: white;
    font-family: 'Roboto';
    color: black;
}

h1{
    text-align: center;
}

p{
    text-align: left;
    color: dimgray;
    
}

a:hover, a:active{
    background-color: indianred;
    color:white;
    
}
