body{
    background-color: aliceblue;
    font-family: 'Roboto';
    color: black;
}

h2{
    text-align: center;
}

th{
    background-color: blue;
}

tr, td,th{
    position: 10px 3px 10px 3px;
    margin: 0% 10% 10% 10%;
    width: auto;
    height: auto;
}


a:hover, a:active{
    background-color: indianred;
    color:white;
}
