body{
    background-image:url(Figuras/fundo.jpeg);
    font-family: 'Roboto';
    color:black;
}

p{
    text-align: center;
    color:white;
}

.tabela{
    margin: 0% 15% 0% 15%;
}

th{
    background-color: white;
}

tr, td, th{
    position: 10px 3px 10px 3px;
    margin: 0% 10% 10% 10%;
    width: auto;
    height: auto;
}

a:hover, a:active{
    background-color: yellow;
    color:black;
}
